<div class="col-lg-9">
	<div class="row">
		<div class="col-md-10">
            <h2 class="clearfix">صفحه ایستا<div class="pull-right"><a href="/admin/settings/pages/new" class="btn btn-success">صفحه جدید</a></div></h2>
            <p class="text-muted">
                در اینجا شما می توانید صفحات استاتیک را برای سبد خرید خود تنظیم و مدیریت کنید.
                ممکن است بخواهید یک صفحه را درباره کسب و کارتان به نام «درباره» یا «تماس با ما» و غیره تنظیم کنید.
            </p>
            {{#if pages}}
                <ul class="list-group">
                    {{#each pages}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h5><strong>نام:</strong>&nbsp; {{pageName}}</h5>
                                </div>
                                <div class="col-lg-4 text-right">
                                    <a class="btn btn-sm btn-success" href="/admin/settings/pages/edit/{{_id}}">ویرایش</a>
                                    <a class="btn btn-sm btn-danger" href="/admin/settings/pages/delete/{{_id}}">حذف</a>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <h4 class="text-warning text-center">
                    در حال حاضر راه اندازی صفحات استاتیک وجود ندارد. لطفا یک صفحه استاتیک را راه اندازی کنید.
                </h4>
                <p class="text-center">
                    <a class="btn btn-success" href="/admin/settings/pages/new"> ایجاد صفحه جدید</a>
                </p>
            {{/if}}
		</div>
	</div>
</div>
{{> partials/menu}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
